@import "@/styles/_var";

.modal {
    position: absolute;
    top: calc((100% - 60px) / 2);
    left: calc((100% - 268px) / 2);
    width: 240px;
    color: $white;
    background-color: $black-16;
    border: 2px solid  $light-grey;
    padding: 16px 8px;
    font-size: 10px;

    &.toast {
        display: flex;
        align-items: center;
        gap: 0 8px;
    }

    &.conform {
        
    }
}